@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
    
}
body{
    background-color: #FFF5F0;
}
li{
    list-style-type: none;
}
.children{
    min-height: 100vh;
}